$black: #1a1a1a;
$darkGray: #242423;
$gray: #3f3f3f;
$lightGray: #c4c4c4;
$white: #e1e0e3;
$yellow: #e2e41c;
$yellowGradient: linear-gradient(180deg, rgba(238, 239, 118, 0.2) 0%, rgba(181, 182, 22, 0.2) 100%),
	radial-gradient(134.09% 755.19% at 100% 0%, #e2e41c 0%, #bebf17 100%);
$bianco: #d4dbde;
$grigio: #737373;
$red: #e92b4d;
